body{
    background: #252525;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}
h1{
    color: #BCD6E8;
    font-family: 'Lemon', cursive;
}
h2{
    font-weight: normal;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    background: black;
}

#minicarrito{
    background: url(icons/cart.png) left center no-repeat;
    background-size: 30px;
    padding-left: 40px;
    color: red;
    font-size: 25px;
}

main{
    padding: 10px 100px;
}
#listado{
    list-style: none;
    margin: 30px 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#listado li{
    border: 1px solid white;
    padding: 6px;
    border-radius: 5px;
    width: 20%;
    text-align: center;
}

#listado li h3{
    margin: 0 0 20px;
}

#listado img{
    height: 150px;
    width: 100%;
    object-fit: contain;
    object-position: top center;
}

#modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal > div{
    color: black;
    width: 700px;
    height: 400px;
    background: white;
    padding: 30px 50px;
    position: relative;
}

#modal div a{
    position: absolute;
    top: 10px;
    right: 20px;
}

#modal > div div{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 10px;
}

#modal > div div h2{
    margin: 0;
}

#modal > div div img{
    width: 300px;
    height: 350px;
    object-fit: contain;
    object-position: top center;
}

#modal > div div p{
    flex: 1;
    margin: 0;
}