<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo VueJS :)</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lemon&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/estilos.css" />
</head>
<body>
    <!-- 
        Home - Catalogo
        DetalleCarrito
    -->
    <div id="Faculpx15">
        <header>
            <h1>{{ siteName }}
                <!-- <router-link to="/"></router-link> -->
            </h1>
            <!--
            <span v-show="totalComprado < 10" id="minicarrito">
                <router-link to="/carrito">₿ {{ totalComprado }}</router-link>
            </span>
             -->
        </header>
        <main>
            <!-- 
            <router-view></router-view>
            -->
            <div>
                <h2>"Stock" disponible</h2>
                <ul id="listado">
                    <li v-for="(p, i) in listadoProductos">
                        <h3>{{ p.nombre }}</h3>
                        <img :src="'usuarios/'+p.foto" @click="mostrar( p )" />
                    </li>
                </ul>
            </div>
        </main>

        <div id="modal" v-show="modalAbierto">
            <div>
                <a href='#' @click='ocultar'>close</a>
                <div>
                    <h2>{{ modalData.nombre }}</h2>
                    <span>₿ {{ modalData.precio }}</span>
                </div>
                <div>
                    <img :src="'usuarios/' + modalData.foto " />
                    <p>{{ modalData.descripcion }}</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@3.1.3/dist/vue-router.js"></script>
    <script src="assets/listado_productos.js"></script>
    <script src="assets/components/HomeComponent.js"></script>
    <script src="assets/app.js"></script>
</body>
</html>